@import './../fonts/fonts.scss';
//fonts
$regular: 'Conv_Montserrat-Regular', sans-serif;
$bold: 'Conv_Montserrat-Bold', sans-serif;
$quicksand_bold: 'Conv_Quicksand-Bold', sans-serif;
$quicksand_regular: 'Conv_Quicksand-Regular', sans-serif;
