extends ./../head.pug
block content

    
    .gameArea
        .bird  
        .score
        .retry.hide
            h1(class="title") RETRY! 
        .startGame
            h1(class="title") GO!

        

    


