extends ./../head.pug
block content


    p something wrong with this config 

    img(src="assets/img/dog.jpg")


    //*- for (var chunk in htmlWebpackPlugin.files.chunks) { 
        script(src=htmlWebpackPlugin.files.chunks[chunk].entry)
        - } 


