@import 'vars/vars';

.gameArea {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
}
.ground {
    width: 100%;
    height: 25px;
    background: #467203;
    position: absolute;
    bottom: 0;
}
.sky {
    width: 100%;
    height: 25px;
    background: #467203;
    position: absolute;
    top: 0;
}
.bird {
    position: absolute;
    width: 70px;
    height: 50px;
    top: 80px;
    border-radius: 20px;
    left: 65px;
    background: url('./../assets/img/birdUP.png');
    background-size: cover;
    border: 1px solid red;
}
.startGame {
    width: 250px;
    height: 75px;
    border: 6px solid #8d1b71;
    background: linear-gradient(to top, #803061, #eb31bc);
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 42%;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 40px;
    &:hover {
        opacity: 0.8;
    }
}

.title {
    margin: 20px auto auto 15px;
    color: whitesmoke;
}
.hide {
    display: none;
}
.alien {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: url('./../assets/img/alien.png');
    background-size: cover;
    border: 1px solid red;
}
.score {
    position: absolute;
    right: 25px;
    top: 50px;

    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.wall {
    position: absolute;
    top: 25px;
    width: 60px;
    background: url('./../assets/img/wall.png');
    background-size: 60px auto;
}
.bottomWall {
    position: absolute;
    bottom: 25px;
    background: black;
}
// Reset css
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
